:host {
    display: block;
    margin: 2rem;

    label {
        display: block;
        font-style: italic;
        font-size: 1.4rem;
        margin: 0.5rem 0;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }

    input {
        display: none;
    }
}
