/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

p {
    margin: 0;
}

.spacer {
    flex: 1;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    color: #125699;
}

html, body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}
body {
    margin: 0;
    font-family: ibm plex sans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
}
input, textarea {
    font-size: 1rem;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
