:host, form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form, div {
  width: 400px;
}

.mat-form-field {
  width: inherit;
}

p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
