.active-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(50, 50, 50, 0.8);

    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 80vw;
        max-height: 80vh;
    }
}
