.categories {
    display: flex;
    margin: 2rem 0;
    flex-direction: column;
}

.category {
    font-size: 2rem;
    border-bottom: 1px solid #333;
    padding-right: 1rem;
    margin: 0 2rem;
    cursor: pointer;

    &:hover {
        color: #00baff;
    }

    &.active-category {
        font-style: italic;
        color: #037098;
    }
}

.new-category {
    font-size: 2rem;
    border: none;
    padding-right: 1rem;
    margin: 0 2rem;
    outline: none;
    border-bottom: 1px solid #333;
}

.category-new {
    opacity: 0.7;
    font-style: italic;
}
